body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select
{
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


*{
	/*border: solid 1px black;*/
	margin: 0;
    padding: 0;
}


body{
    background-color: grey;
    height:100%;
}

#header{
    background-color:white;
    padding: 5%;
    height:auto;
}

#headImg{
    float:left;
}

#uploadRun{
	height: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#main{
	height: 80%;
    background-color:white;
}

#footer {
    background-color: grey;
    color:white;
    padding: 10px;
}

.fileName{
	height: 35px;
	width:350px;
}

.submitDB{
	position: relative;
	bottom: 0px;
}

.leftPanel{
	height: 200px;
}

.right{
    float:right;
    display:inline;
}

.html-div{
    height: 500px;
    width:750px;
}
.html-text {
    width: 750px;
    height: 500px;
    border:solid 1px grey;
    overflow:scroll;
}

.tagBuilderView{
    width: 300px;
    height: 35px;
}

/*FROM ONLNE*/
  		.dual-list .list-group {
            margin-top: 8px;
        }
        
        .dual-list{
            height: 100%;
        }

        .list-left li, .list-right li {
            cursor: pointer;
        }

        .list-arrows {
            padding-top: 100px;
        }

        .list-arrows button {
            margin-bottom: 20px;
        }

        .list-group-item{
        	height: 35px;
        }

        .list-group{
            height:300px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .list:hover{
            background-color: grey;
            color: white;
        }
        .select{
            background-color: blue;
            color: white;
        }
        


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#uploadFile{
    
}
