<!--html snippet used for dropdown menu directive-->
<div>
    <p>Select which Category you would like to get tables from.....</p>

    <select ng-click="loadArray()" ng-change="populate(catSelect)" ng-model="catSelect" class="btn btn-default dropdown-toggle">
        <option></option>
        <option ng-repeat="cat in catalogueTable" class="list-group-item">{{ cat }}</option>
    </select>

    <br />

    <p>Select which Table you would like to selected add words to.....</p>


    <select ng-model="vocabSelect" class="btn btn-default dropdown-toggle">
        <option class="default"></option>
        <option ng-repeat="voc in dropdownTables" class="list-group-item">{{ voc }}</option>
    </select>
</div>
