<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Marine Institute Application</title>
    <!--stylesheets-->
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="../../Content/Site_.css" rel="stylesheet" />


</head>
<body>
    <div id="main" class="container">
        <div id="header" class="row">
            <img id="logo" src="../../Content/Marine_logo.jpg" />
            <div id="navigation" class="col-lg-offset-2 col-lg-8">
                <ul class="nav-list">
                    <li>HOME</li> |
                    <li>INSERT TAGS</li> |
                    <li>CREATE VOCAB LIST</li> |
                    <li>ABOUT</li> |
                    <li>CONTACT</li>
                </ul>
            </div>
        </div>
        <div id="main-content">
            @RenderBody()
        </div>
        <div id="footer" class="row">
            <div>&copy; 2016 Marine Institute</div>
        </div>
    </div><!--end container-->
</body>
</html>

