
@{
    ViewBag.Title = "Insert";
}

<div class="row">
    <h2>Insert Tags</h2>
</div>



<div class="row">
    <div class="col-lg-5" ng-controller="insertController">

        <dropdown-menu></dropdown-menu><!--directive called-->
        
        <br />

        <p>Pre-defined tags</p>
        <!--Predefined tag dropdown-->
            <select ng-model="insertTag" class="btn btn-default dropdown-toggle">
                <option class="default"></option>
                <option ng-repeat="tags in schemaTag | filter:vocabSelect" class="list-group-item">{{ tags.Tag }}</option>
            </select><!--need to change the get from keyword to tag - addresscontact only-->
        
        <br />


        <h3>Tag Builder.</h3><!--option for building new tags-->
        <p>Base tag</p>
        <p>Select a base tag for your Scope tag:</p>
        <!--drop down menu for calling the base tag table - taken directly from schema.org-->
            <select ng-model="baseTag" class="btn btn-default dropdown-toggle">
                <option class="default"></option>
                <option ng-repeat="tags in baseTags" class="list-group-item">{{ tags }}</option>
            </select>
        
        <br />
        
        <p>Keyword (based on vocabulary above)</p>
        <p>Select the keyword you would like to add to your Scope or Property tag:</p>
        <!--drop down menu for keywords - linked to the vocab selected above-->  
            <select ng-model="keyword" class="btn btn-default dropdown-toggle">
                <option class="default"></option>
                <option ng-repeat="word in keywords | filter:vocabSelect" class="list-group-item">{{ word.Keyword }}</option>
            </select><!--need to change the get from keyword to tag - addresscontact only-->
        
        <br />
        
        <button class="btn btn-default build-btn" type="button" ng-click="buildScope(baseTag,keyword)">Build Scope Tag</button>
        <button class="btn btn-default build-btn" type="button" ng-click="buildProp(keyword)">Build Property Tag</button>
        
        <br />
        <p>Tag for insertion:</p>
        <input ng-model="insertTag" type="text" class="tagBuilderView" /><br /><!--Some nice fancy javascript here to build the tag-->
        <button class="btn btn-default submit-btn" type="button" ng-click="submitTag(keyword)">Submit to Database</button>
            
    </div>
    
    <div class="col-lg-7" ng-controller="htmlEdit">

                <input id="upload" type="file" class="btn btn-default" accept="text/html" ng-model="filePath" />
                <button class="btn btn-default" ng-click="upload()" type="button">Load</button>
                <button class="btn btn-default" ng-click="surround()">Insert</button>
                <button class="btn btn-default" ng-click="save()">Save</button>

                <div id="html" class="insert-html-text form-control" ng-model="plainHTML" contenteditable="true">{{plainHTML}}</div><!--think this is ok-->
                
 
    </div>







</div>

